{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/rol.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Rol</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div id="seleccion_rol_form">
    <h2>Selecciona tu rol</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="rol" value="admin" />
        <input type="submit" name="rol" value="usuario" />
        
    </form>
    
    
</div>



</body>
</html>
